<div class="about-section">
    <h1>About Us </h1>
    <p>We are providing the full Traning for FullStack Developer</p>
    <p>Also Providing Traning for multiple Technologies</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row" *ngFor="let admin of admin">
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>Urmi Bhadarka</h2>
          <p class="title">CEO & Founder</p>
          <p>Urmi Bhadarka</p>
          <p>Email Id Goes here dynamically</p>
          <p><button class="button" (click)="onClick()">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>Urmi Bhadarka</h2>
          <p class="title">Art Director</p>
          <p>Marakhi Urmi Der</p>
          <p>Email Id Goes here dynamically</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>Marakhi Urmi Der</h2>
          <p class="title">Manager</p>
          <p>Marakhi Urmi Der</p>
          <p>Email Id Goes here dynamically</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
