
<div class="col-md-6 offset-md-3 ">
    <h3>Update Employee</h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class = "form-group">
            <label>First Name </label>
            <input type="text" class = "form-control" id = "firstName"
             [(ngModel)] = "employee.firstName" name = "firstName"> 
        </div>
        <div class = "form-group">
            <label>Last Name </label>
            <input type="text" class = "form-control" id = "lastName"
             [(ngModel)] = "employee.lastName" name = "lastName"> 
        </div>
        <div class = "form-group">
            <label>Email ID</label>
            <input type="text" class = "form-control" id = "emailId"
             [(ngModel)] = "employee.emailId" name = "emailId"> 
        </div>
        <style>
            .button {
              display: inline-block;
              border-radius: 2px;
              background-color: #1551df;
              border: none;
              color: #FFFFFF;
              text-align: center;
              font-size: 28px;
              padding: 20px;
              width: 150px;
              transition: all 0.5s;
              cursor: pointer;
              margin: 5px;
            }
            
            .button span {
              cursor: pointer;
              display: inline-block;
              position: relative;
              transition: 0.5s;
            }
            
            .button span:after {
              content: '\00bb';
              position: absolute;
              opacity: 0;
              top: 0;
              right: -20px;
              transition: 0.5s;
            }
            
            .button:hover span {
              padding-right: 25px;
            }
            
            .button:hover span:after {
              opacity: 1;
              right: 0;
            }
            </style>
         
      <button class="button" style="vertical-align:middle"><span>Submit </span></button>
     
    